<style>
	.form {
		display: grid;
		place-items: center;
		
	}
	.regular-form {
		font-family: serif;
		display: flex;
		flex-direction: column;
		background: #000;
		color: white;
		margin: 10px;
		padding: 40px 20px;
		width: 40vw;
		border-radius: 10px;
	}
	input {
		font-size: 20px;
		width: 100%;
		padding: 5px;
	}
	label {
		font-size: 15px;
		margin: 10px 0;
	}
	.btn {
		background: steelblue;
		color: white;
		font-size: 20px;
		margin: 10px 0;
		border: white;

	}
	.btn-outline {
		background: none;
		border: white 1px solid;
		padding: 8px 20px;
		border-radius: 5px;
	}
	.btn-outline:hover {
		background: white;
		color: black;
		cursor: pointer;
	}
</style>


<div class="form">
	<h1>Signup</h1>
	<form action="/" method="post" class="regular-form">
		{% csrf_token %}
		<label>Username: </label>
		<input type="text" name="username">
		<label>Password: </label>
		<input type="password" name="password">

		<button class="btn btn-outline">Login</button>
	</form>

</div>